DATABASE_USER=cloudiator
DATABASE_PASSWORD=cloudiator
AUTH_MODE=SINGLE
AUTH_TOKEN=secure
HOST_IP=

# INFLUX_URL=
# INFLUX_PASSWORD

# IMAGE_PREFIX=

# Apache Spark monitoring
# JMS_IP=
# JMS_PORT=61616
# APP_NAME=PythonPi
# METRIC_PATTERN={"metricValue":"${metric.value}","timestamp":"${metric.timestamp}","metricName":"${metric.name}"}
# METRIC_REPORTING_INTERVAL=30

# Enable installation of Melodic-specific tools on nodes
# DEPLOYMENT_INSTALL_MELODIC_TOOLS=true

# Install-Agent Download Sources
# Allows to override the default download paths

# INSTALLER_JAVA_DOWNLOAD=http://javadl.sun.com/webapps/download/AutoDL?BundleId=106240
# INSTALLER_VISOR_DOWNLOAD=https://bintray.com/cloudiator/cloudiator/download_file?file_path=visor-service-0.3.0-SNAPSHOT.jar
# INSTALLER_LANCE_DOWNLOAD=https://bintray.com/cloudiator/cloudiator/download_file?file_path=server-0.3.0-SNAPSHOT.jar
# INSTALLER_DOCKER_BINARY_DOWNLOAD=https://raw.githubusercontent.com/cloudiator/lance/master/install/docker_retry_fix_version.sh
# INSTALLER_DOCKER_MTU_DOWNLOAD=https://raw.githubusercontent.com/cloudiator/colosseum/master/resources/fix_mtu.sh
# INSTALLER_ALLUXIO_DOWNLOAD=http://downloads.alluxio.org/downloads/files/1.8.1/alluxio-1.8.1-bin.tar.gz
# INSTALLER_DLMSAGENT_DOWNLOAD=https://nexus.7bulls.eu:8443/repository/maven-snapshots/eu/melodic/dlms/DLMSAgent/0.0.1-SNAPSHOT/DLMSAgent-0.0.1-20181025.135831-1.jar

# Install-Agent's EMS related settings
EMS_URL=https://ems:8111/baguette/registerNode
EMS_API_KEY=
EMS_KEYSTORE_FILE=/home/melodic-truststore.p12
EMS_KEYSTORE_TYPE=PKCS12
EMS_KEYSTORE_PASSWORD=melodic
EMS_KEYSTORE_KEY_PASSWORD=melodic
EMS_TRUSTSTORE_FILE=/home/melodic-truststore.p12
EMS_TRUSTSTORE_TYPE=PKCS12
EMS_TRUSTSTORE_PASSWORD=melodic

# Auto delete virtual machines
# VM_ENABLE_CLEANUP = true
